coffeet-outreach-arabica.json
{
  "name": "☕ Coffee T — Outreach Arabica Grade 3 v3",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "connections": {
    "Lancer": {
      "main": [[
        {"node": "Fetch tout", "type": "main", "index": 0},
        {"node": "Notion — Lire existants", "type": "main", "index": 0}
      ]]
    },
    "Fetch tout": {
      "main": [[{"node": "Filtrer", "type": "main", "index": 0}]]
    },
    "Filtrer": {
      "main": [[{"node": "Merge Notion+Filtrer", "type": "main", "index": 0}]]
    },
    "Notion — Lire existants": {
      "main": [[{"node": "Merge Notion+Filtrer", "type": "main", "index": 1}]]
    },
    "Merge Notion+Filtrer": {
      "main": [[{"node": "Anti-doublons", "type": "main", "index": 0}]]
    },
    "Anti-doublons": {
      "main": [[{"node": "Skip si vide ?", "type": "main", "index": 0}]]
    },
    "Skip si vide ?": {
      "main": [
        [{"node": "Enrichir SIRENE", "type": "main", "index": 0}],
        []
      ]
    },
    "Enrichir SIRENE": {
      "main": [[{"node": "Extraire contexte", "type": "main", "index": 0}]]
    },
    "Extraire contexte": {
      "main": [[{"node": "OpenRouter — Mistral", "type": "main", "index": 0}]]
    },
    "OpenRouter — Mistral": {
      "main": [[{"node": "Parser mail", "type": "main", "index": 0}]]
    },
    "Parser mail": {
      "main": [[{"node": "Notion — Créer page", "type": "main", "index": 0}]]
    }
  },
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0000-0000-000000000001",
      "name": "Lancer",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// Fait tous les appels data.gouv en une seule passe\n// COFFEE pages 1-5 (500 candidats) + TORREFACT + BRULERIE + ESPRESSO\nconst BASE = 'https://tabular-api.data.gouv.fr/api/resources/fdfabe62-a581-41a1-998f-73fc53da3398/data/';\nconst SEARCHES = [\n  { term: 'COFFEE',   pages: [1,2,3,4,5] },\n  { term: 'TORREFACT', pages: [1] },\n  { term: 'BRULERIE',  pages: [1] },\n  { term: 'ESPRESSO',  pages: [1] }\n];\n\nconst allRecords = [];\nfor (const s of SEARCHES) {\n  for (const page of s.pages) {\n    const url = `${BASE}?APP_Libelle_etablissement__contains=${s.term}&page=${page}&page_size=100`;\n    try {\n      const resp = await fetch(url);\n      if (resp.ok) {\n        const json = await resp.json();\n        const records = json?.data || json?.results || [];\n        allRecords.push(...records);\n        console.log(`${s.term} p${page}: ${records.length} records`);\n      } else {\n        console.log(`Skip ${s.term} p${page}: HTTP ${resp.status}`);\n      }\n    } catch(e) {\n      console.log(`Erreur ${s.term} p${page}: ${e.message}`);\n    }\n  }\n}\n\nconsole.log('Total brut:', allRecords.length);\nreturn [{ json: { data: allRecords } }];"
      },
      "id": "a1b2c3d4-0001-0000-0000-000000000002",
      "name": "Fetch tout",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, -60]
    },
    {
      "parameters": {
        "jsCode": "// CIBLES PREMIUM uniquement : specialty coffee shops, torréfacteurs, grands hôtels, épiceries fines.\n\nconst BLACKLIST_NOM = [\n  'STARBUCKS', 'COLUMBUS', 'MCDONALD', 'CAFETERIA', 'CASINO',\n  'MONOPRIX', 'FRANPRIX', 'CARREFOUR', 'LECLERC', 'RELAY',\n  'HOPITAL', 'EHPAD', 'WOK', 'SUSHI', 'PIZZA', 'BURGER', 'KEBAB',\n  'SUBWAY', 'QUICK', 'KFC', 'FLUNCH', 'COURTEPAILLE', 'HIPPOPOTAMUS',\n  'DOMINO', 'FIVE GUYS', 'COJEAN', 'RAMEN', 'PAUL', 'BRIOCHE DOREE',\n  'SODEXO', 'ELIOR', 'COMPASS', 'CANTINE', 'RESTAU U', 'INTERMARCHE',\n  'LIDL', 'ALDI', 'AUCHAN', 'SUPER U', 'BIOCOOP'\n];\n\nconst WHITELIST_ACTIVITE = [\n  'torréfact', 'torrefact',\n  'brûlerie', 'brulerie',\n  'coffee', 'barista', 'espresso', 'specialty',\n  'salon de thé', 'tea room', 'tea',\n  'épicerie fine', 'epicerie fine', 'épicerie de luxe',\n  'gastronomie', 'gastronomique',\n  'traiteur de luxe', 'traiteur haut',\n  'hôtel', 'hotel', 'palace'\n];\n\nconst BLACKLIST_ACTIVITE = [\n  'restauration rapide', 'fast food', 'sandwicherie',\n  'distribution automatique', 'vending',\n  'kebab', 'pizza', 'burger', 'friterie',\n  'collectivité', 'scolaire', 'entreprise'\n];\n\nconst IDF = ['75','77','78','91','92','93','94','95'];\n\nconst all = $input.all();\nconst seen = new Set();\nconst result = [];\n\nfor (const item of all) {\n  const records = item.json?.data || item.json?.results || [];\n\n  for (const r of records) {\n    const name     = (r.APP_Libelle_etablissement || '').trim();\n    const activite = (r.APP_Libelle_activite_etablissement || '').toLowerCase();\n    const adresse  = (r.Adresse_2_UA || r.Adresse_etablissement || '').trim();\n    const cp       = (r.Code_postal || '').toString().trim();\n    const commune  = (r.Libelle_commune || '').trim();\n    const siret    = (r.SIRET || '').toString().trim();\n    const dep      = (r.dep_code || '').toString().trim();\n    const note     = (r.Synthese_eval_sanit || '');\n\n    if (!name || name.length < 3) continue;\n    if (cp && !IDF.some(p => cp.startsWith(p))) continue;\n    if (note === 'A améliorer') continue;\n\n    const nameUp = name.toUpperCase();\n    if (BLACKLIST_NOM.some(b => nameUp.includes(b))) continue;\n    if (BLACKLIST_ACTIVITE.some(b => activite.includes(b))) continue;\n\n    const activiteOK = WHITELIST_ACTIVITE.some(w => activite.includes(w));\n    if (!activiteOK) continue;\n\n    const key = nameUp.replace(/[^A-Z0-9]/g, '').substring(0, 10);\n    if (seen.has(key)) continue;\n    seen.add(key);\n\n    let typeProspect = 'COFFEE SHOP';\n    let score = 8;\n    if (activite.includes('torréfact') || activite.includes('torrefact') || activite.includes('brûlerie') || activite.includes('brulerie')) {\n      typeProspect = 'TORRÉFACTEUR'; score = 9;\n    } else if (activite.includes('hôtel') || activite.includes('hotel') || activite.includes('palace')) {\n      typeProspect = 'HÔTEL'; score = 9;\n    } else if (activite.includes('épicerie fine') || activite.includes('epicerie fine') || activite.includes('gastronomie') || activite.includes('traiteur')) {\n      typeProspect = 'ÉPICERIE FINE'; score = 8;\n    } else if (activite.includes('salon de thé') || activite.includes('tea')) {\n      typeProspect = 'SALON DE THÉ'; score = 7;\n    }\n\n    result.push({ nom: name, adresse, code_postal: cp, commune, activite: r.APP_Libelle_activite_etablissement || '', siret, dep, key, typeProspect, score });\n  }\n}\n\nconsole.log('Prospects IDF premium trouvés:', result.length);\n\nif (result.length === 0) {\n  return [{ json: { _skip: true } }];\n}\n\nresult.sort((a, b) => b.score - a.score);\nreturn result.slice(0, 100).map(r => ({ json: r }));"
      },
      "id": "a1b2c3d4-0001-0000-0000-000000000003",
      "name": "Filtrer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, -60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/8aa6d741-7872-47d0-94b9-6ac4bc8039f6/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer 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"},
            {"name": "Notion-Version", "value": "2022-06-28"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"page_size\": 100 }",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0000-0000-000000000004",
      "name": "Notion — Lire existants",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 200]
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0000-0000-000000000005",
      "name": "Merge Notion+Filtrer",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [720, 70]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst candidats   = allItems.filter(i => i.json.key);\nconst notionItems = allItems.filter(i => !i.json.key);\n\nconst existing = new Set();\nfor (const item of notionItems) {\n  const results = item.json?.results || [];\n  for (const r of results) {\n    const t = r.properties?.Nom?.title?.[0]?.plain_text || '';\n    if (t) existing.add(t.toUpperCase().replace(/[^A-Z0-9]/g, '').substring(0, 10));\n  }\n}\n\nconst seen = new Set();\nconst nouveaux = [];\nfor (const item of candidats) {\n  const k = item.json.key;\n  if (!existing.has(k) && !seen.has(k)) {\n    seen.add(k);\n    nouveaux.push({ json: item.json });\n  }\n}\n\nconsole.log('Nouveaux prospects à traiter:', nouveaux.length);\n\nif (nouveaux.length === 0) {\n  return [{ json: { _skip: true } }];\n}\n\nreturn nouveaux.slice(0, 100);"
      },
      "id": "a1b2c3d4-0001-0000-0000-000000000006",
      "name": "Anti-doublons",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 70]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "notEquals"}
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0000-0000-000000000007",
      "name": "Skip si vide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 70]
    },
    {
      "parameters": {
        "url": "=https://recherche-entreprises.api.gouv.fr/search?q={{ encodeURIComponent($json.nom) }}&per_page=3",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-0000-0000-000000000008",
      "name": "Enrichir SIRENE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 70]
    },
    {
      "parameters": {
        "jsCode": "const prospect = $('Anti-doublons').item.json;\nconst sirene = $json;\n\nlet dirigeant = '';\nlet webContext = '';\n\ntry {\n  const results = sirene?.results || [];\n\n  // Cherche le résultat qui correspond le mieux au nom du prospect\n  const prospectKey = prospect.nom.toUpperCase().replace(/[^A-Z0-9]/g, '').substring(0, 8);\n  const match = results.find(r => {\n    const k = (r.nom_complet || '').toUpperCase().replace(/[^A-Z0-9]/g, '');\n    return k.includes(prospectKey) || prospectKey.includes(k.substring(0, 6));\n  }) || results[0];\n\n  if (match) {\n    // Dirigeant principal (gérant, président, directeur...)\n    const dir = match.dirigeants?.find(d => d.qualite && /gérant|président|directeur|associé/i.test(d.qualite))\n              || match.dirigeants?.[0];\n    if (dir) {\n      const prenom = (dir.prenoms || '').split(' ')[0];\n      const nom = dir.nom || '';\n      dirigeant = [prenom, nom].filter(Boolean).join(' ');\n    }\n\n    const annee = match.date_creation ? match.date_creation.substring(0, 4) : '';\n    const categorie = match.categorie_entreprise || '';\n    const activiteLib = match.siege?.libelle_activite_principale || '';\n    const nbEtab = match.nombre_etablissements_ouverts;\n\n    const parts = [\n      dirigeant ? `Dirigeant : ${dirigeant}` : '',\n      annee ? `Créé en ${annee}` : '',\n      categorie ? `Taille : ${categorie}` : '',\n      activiteLib ? `Activité NAF : ${activiteLib}` : '',\n      nbEtab > 1 ? `${nbEtab} établissements` : ''\n    ].filter(Boolean);\n\n    webContext = parts.join(' | ');\n  }\n} catch(e) {\n  webContext = '';\n}\n\nif (!webContext) {\n  webContext = `${prospect.typeProspect} — ${prospect.nom} à ${prospect.commune}. Activité : ${prospect.activite}.`;\n}\n\nreturn [{ json: { ...prospect, webContext, dirigeant } }];"
      },
      "id": "a1b2c3d4-0001-0000-0000-000000000009",
      "name": "Extraire contexte",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 70]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer 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"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "HTTP-Referer", "value": "https://coffee-t.fr"},
            {"name": "X-Title", "value": "Coffee T Outreach"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistralai/mistral-small-3.1-24b-instruct\",\n  \"max_tokens\": 600,\n  \"temperature\": 0.92,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu es Fayçal TAHA, fondateur de Coffee T. Tu importes directement des cafés de spécialité d'Afrique de l'Est depuis 10 ans. Tu travailles avec SEV Africa (Istanbul) sur des micro-lots à haute altitude : Éthiopie, Kenya, Rwanda.\\n\\nPRODUIT PHARE : Grade 3 Natural 100% arabica éthiopien. Récolte sélective, séchage sur lits africains, traçabilité directe producteur. Notes chocolat noir, orange sanguine, épices douces. Propre, rond, jamais sur-fermenté. Prix de vente B2B : environ 30€/kg.\\n\\nANGLE SELON LE TYPE DE PROSPECT (fourni dans le message utilisateur) :\\n- TORRÉFACTEUR ou BRÛLERIE : tu proposes du café vert (green coffee) de qualité exceptionnelle pour qu'ils puissent le torréfier à leur façon. Argument clé : un lot exclusif à leur carte, traçable jusqu'au producteur, que leurs clients ne trouveront nulle part ailleurs.\\n- COFFEE SHOP : tu proposes le café torréfié prêt à extraire. Argument clé : un arabica single origin à la hauteur de leur niveau barista, qui justifie un pricing premium à la tasse.\\n- HÔTEL : tu proposes un café de spécialité pour leur F&B (room service, restaurant, bar). Argument clé : le café est le dernier souvenir d'un repas, autant qu'il soit mémorable.\\n- ÉPICERIE FINE ou SALON DE THÉ : tu proposes un café de spécialité à la revente ou à la tasse. Argument clé : une référence africaine rare qui complète une sélection haut de gamme.\\n\\nTA MISSION : écrire un cold email B2B qui ressemble à 0% à une IA et 100% à un vrai commercial passionné qui a pris 2 minutes pour se renseigner sur l'établissement avant d'écrire.\\n\\nRÈGLES D'OR :\\n1. 1ère phrase : observation spécifique sur leur établissement tirée du contexte web. Jamais générique.\\n2. Jamais : 'je me permets', 'je vous contacte car', 'dans le cadre de', 'n'hésitez pas', 'cordialement', 'ravie de', 'enchantée de'\\n3. Zéro tiret, zéro liste dans le corps du mail\\n4. Phrases courtes. Ton direct. Deux pros qui se parlent.\\n5. Max 4 paragraphes de 2 lignes\\n6. L'objet : < 8 mots, intrigant, ancré dans leur univers spécifique\\n7. Signe toujours : Fayçal TAHA / Coffee T — Direct Trade, Afrique de l'Est\\n\\nSTRUCTURE AIDA cold B2B :\\nPara 1 — Accroche sur leur établissement → pont naturel vers le café\\nPara 2 — Ce que ça change concrètement pour eux (selon leur type)\\nPara 3 — Ce qui rend ton sourcing différent (une phrase, pas de généralités)\\nPara 4 — Invitation simple sans pression\\n\\nFORMAT STRICT — UNIQUEMENT ceci, rien avant rien après :\\nObjet : [max 8 mots]\\n\\n[4 paragraphes]\\n\\nRéservez 15 min ici : https://calendly.com/faycaltaha-coffeet/15min\\n\\nFayçal TAHA\\nCoffee T — Direct Trade, Afrique de l'Est\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Établissement : {{ $json.nom }}\\nType de prospect : {{ $json.typeProspect }}\\nVille : {{ $json.commune }}\\nActivité déclarée : {{ $json.activite }}\\nDirigeant (prénom à utiliser si dispo) : {{ $json.dirigeant || 'inconnu' }}\\n\\nINFOS SIRENE :\\n{{ $json.webContext }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0000-0000-00000000000a",
      "name": "OpenRouter — Mistral",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 70]
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $('OpenRouter — Mistral').item.json;\nconst text = aiResponse?.choices?.[0]?.message?.content || '';\n\nconst lines = text.split('\\n').map(l => l.trim()).filter(Boolean);\nlet objet = '';\nconst bodyLines = [];\nlet headerParsed = false;\n\nfor (const line of lines) {\n  if (!headerParsed && /^objet\\s*:/i.test(line)) {\n    objet = line.replace(/^objet\\s*:\\s*/i, '').trim();\n    headerParsed = true;\n  } else if (headerParsed) {\n    bodyLines.push(line);\n  }\n}\n\nif (!objet) {\n  objet = 'Un arabica éthiopien pour votre sélection';\n  bodyLines.push(...lines);\n}\n\nconst p = $('Extraire contexte').item.json;\nconst adresseComplete = [p.adresse || '', p.code_postal || '', p.commune || ''].filter(Boolean).join(', ').substring(0, 200);\nconst notes = [p.siret ? 'SIRET: ' + p.siret : '', p.activite || '', p.typeProspect || ''].filter(Boolean).join(' | ').substring(0, 200);\n\nconst notionBody = {\n  parent: { database_id: '8aa6d741-7872-47d0-94b9-6ac4bc8039f6' },\n  properties: {\n    'Nom': {\n      title: [{ text: { content: (p.nom || '').substring(0, 100) } }]\n    },\n    'Adresse': {\n      rich_text: [{ text: { content: adresseComplete } }]\n    },\n    'Catégorie': {\n      select: { name: p.typeProspect || 'COFFEE SHOP' }\n    },\n    'Statut Email': {\n      select: { name: 'À envoyer' }\n    },\n    'Notes': {\n      rich_text: [{ text: { content: notes } }]\n    }\n  },\n  children: [\n    {\n      object: 'block',\n      type: 'callout',\n      callout: {\n        rich_text: [{ type: 'text', text: { content: ('Objet : ' + objet).substring(0, 200) } }],\n        icon: { emoji: '📧' },\n        color: 'blue_background'\n      }\n    },\n    {\n      object: 'block',\n      type: 'paragraph',\n      paragraph: {\n        rich_text: [{ type: 'text', text: { content: bodyLines.join('\\n').substring(0, 2000) } }]\n      }\n    },\n    {\n      object: 'block',\n      type: 'divider',\n      divider: {}\n    },\n    {\n      object: 'block',\n      type: 'callout',\n      callout: {\n        rich_text: [{ type: 'text', text: { content: ('Contexte web : ' + (p.webContext || 'N/A')).substring(0, 400) } }],\n        icon: { emoji: '🌐' },\n        color: 'gray_background'\n      }\n    }\n  ]\n};\n\nreturn [{ json: { notionBody } }];"
      },
      "id": "a1b2c3d4-0001-0000-0000-00000000000b",
      "name": "Parser mail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 70]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer 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"},
            {"name": "Notion-Version", "value": "2022-06-28"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.notionBody }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0000-0000-00000000000c",
      "name": "Notion — Créer page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 70]
    }
  ]
}
